# arch
BR2_aarch64=y
BR2_cortex_a76=y
BR2_ARM_FPU_NEON_FP_ARMV8=y
BR2_SHARED_STATIC_LIBS=y
BR2_STRIP_EXCLUDE_DIRS="usr/bin/dmdserver"

# kernel
BR2_KERNEL_HEADERS_AS_KERNEL=y
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_6_6=y
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL_LOCATION="$(call github,raspberrypi,linux,5f674bf905525050052752646fa905adf3f60bc7)/5f674bf905525050052752646fa905adf3f60bc7.tar.gz"
BR2_LINUX_KERNEL_DEFCONFIG="bcm2712"
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="$(BR2_EXTERNAL_ZEDMDOS_PATH)/board/zedmdos-bcm2712/linux-defconfig-fragment.config"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="broadcom/bcm2712-rpi-5-b"
BR2_LINUX_KERNEL_LZ4=y
BR2_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y

# rpi5 firmware
BR2_PACKAGE_RPI_FIRMWARE=y
BR2_PACKAGE_RPI_FIRMWARE_VARIANT_PI=y
BR2_PACKAGE_BRCMFMAC_SDIO_FIRMWARE_RPI=y
BR2_PACKAGE_BRCMFMAC_SDIO_FIRMWARE_RPI_WIFI=y

BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_GLOBAL_PATCH_DIR="$(BR2_EXTERNAL_ZEDMDOS_PATH)/board/zedmdos-patches"

# system
BR2_TARGET_GENERIC_HOSTNAME="zedmdos"
BR2_TARGET_GENERIC_ISSUE="Welcome to zedmdos"
BR2_INIT_SYSV=y
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y
BR2_TARGET_GENERIC_ROOT_PASSWD="linux"

# rootfs
# BR2_TARGET_GENERIC_REMOUNT_ROOTFS_RW is not set
BR2_ROOTFS_POST_IMAGE_SCRIPT="$(BR2_EXTERNAL_ZEDMDOS_PATH)/board/zedmdos-bcm2712/post-image.sh"
BR2_TARGET_ROOTFS_TAR=n
BR2_TARGET_ROOTFS_SQUASHFS=y

### packages
BR2_PACKAGE_ZEDMDOS_SYSTEM=y
BR2_PACKAGE_DMD_PLAY_RUST_DMD_PLAY_BIN=y

# gpu
BR2_PACKAGE_ZEDMDOS_RPI_MESA3D=y
