# arch
BR2_x86_64=y
BR2_SHARED_STATIC_LIBS=y
BR2_STRIP_EXCLUDE_DIRS="usr/bin/dmdserver"

# kernel
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="6.14.9"
BR2_KERNEL_HEADERS_6_14=y
BR2_LINUX_KERNEL_PATCH="$(BR2_EXTERNAL_ZEDMDOS_PATH)/board/zedmdos-x64/linux_patches"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_ZEDMDOS_PATH)/board/zedmdos-x64/linux_x86_64-defconfig.config"
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="$(BR2_EXTERNAL_ZEDMDOS_PATH)/board/zedmdos-x64/linux-defconfig-fragment.config"
BR2_LINUX_KERNEL_NEEDS_HOST_LIBELF=y
BR2_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y

# firmwares
BR2_PACKAGE_LINUX_FIRMWARES=y

BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_GLOBAL_PATCH_DIR="$(BR2_EXTERNAL_ZEDMDOS_PATH)/board/zedmdos-patches"

# system
BR2_TARGET_GENERIC_HOSTNAME="zedmdos"
BR2_TARGET_GENERIC_ISSUE="Welcome to zedmdos"
BR2_INIT_SYSV=y
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y
BR2_TARGET_GENERIC_ROOT_PASSWD="linux"

# rootfs
# BR2_TARGET_GENERIC_REMOUNT_ROOTFS_RW is not set
BR2_ROOTFS_POST_IMAGE_SCRIPT="$(BR2_EXTERNAL_ZEDMDOS_PATH)/board/zedmdos-x64/post-image.sh"
BR2_TARGET_ROOTFS_TAR=n
BR2_TARGET_ROOTFS_SQUASHFS=y

### packages
BR2_PACKAGE_ZEDMDOS_SYSTEM=y
BR2_PACKAGE_DMD_PLAY_RUST_DMD_PLAY_BIN=y

# boot
BR2_TARGET_GRUB2=y
BR2_TARGET_GRUB2_X86_64_EFI=y
