#!/bin/sh

PIDFILE=/var/run/dmd_server.pid

start() {
        echo -n "Starting dmd-server: "

        start-stop-daemon -S -b -q -m -p $PIDFILE --exec /usr/bin/dmdserver-retry >/dev/null &
        RETVAL=$?

	# wait that the port is open before switching to other services
	N=30 # maximum 30 sec
	while test ${N} -gt 0
	do
	    if nc -z localhost 6789
	    then
		N=0
	    else
	    	sleep 1
		let N--
	    fi
	done

        echo "OK"
        return $RETVAL
}

stop() {
        echo -n "Stopping dmd-server: "

	# clear the screen
	/usr/bin/dmd-play --clear

        start-stop-daemon -K -q -p $PIDFILE
	RETVAL=$?
	
        echo "OK"
        return $RETVAL
}

case "$1" in
        start)
                start
                ;;
        stop)
                stop
                ;;
        *)
                echo "Usage: $0 {start|stop}"
                exit 1
esac

exit $?
